<section
  class="banner-section d-flex align-items-center justify-content-center position-relative w-100"
  style="min-height: 350px"
>
  <!-- <div class="stars"></div> -->
  <div class="container position-relative z-2">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h1 class="banner-title mb-2">Ramkumar</h1>
        <h4 class="banner-subtitle h4 text-secondary">Full Stack Developer</h4>
      </div>
    </div>
  </div>
</section>
