<section class="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center mb-5">Skills</h1>
        <div class="skills-slider-wrapper" (wheel)="onSliderWheel($event)">
          <div class="skills-slider" #slider>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=1BC75jFEBED6&format=png&color=000000" alt=".NETCore" />
              <span>.NETCore</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=VLKafOkk3sBX&format=png&color=000000" alt="Azure" />
              <span>Azure</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=laYYF3dV0Iew&format=png&color=000000" alt="SQL Server" />
              <span>SQL Server</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=AZOZNnY73haj&format=png&color=000000" alt="GitHub" />
              <span>GitHub</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=PXTY4q2Sq2lG&format=png&color=000000" alt="JavaScript" />
              <span>JavaScript</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=uJM6fQYqDaZK&format=png&color=000000" alt="TypeScript" />
              <span>TypeScript</span>
            </div>
            <!-- Duplicate for seamless loop -->
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=1BC75jFEBED6&format=png&color=000000" alt=".NETCore" />
              <span>.NETCore</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=VLKafOkk3sBX&format=png&color=000000" alt="Azure" />
              <span>Azure</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=laYYF3dV0Iew&format=png&color=000000" alt="SQL Server" />
              <span>SQL Server</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=AZOZNnY73haj&format=png&color=000000" alt="GitHub" />
              <span>GitHub</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=PXTY4q2Sq2lG&format=png&color=000000" alt="JavaScript" />
              <span>JavaScript</span>
            </div>
            <div class="skill-box">
              <img width="60" height="60" src="https://img.icons8.com/?size=100&id=uJM6fQYqDaZK&format=png&color=000000" alt="TypeScript" />
              <span>TypeScript</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-floating-nav-buttons [prevRoute]="'/about'" [nextRoute]="'/contact'"></app-floating-nav-buttons>
</section>
