<section class="experience">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="parallax-bg experience-parallax"></div>
        <h1 class="mb-5">Project Use Cases</h1>
        <div class="row">
          <div class="col-md-3 card-border">
            <div class="card">
              <div class="card-body">
                <h6>
                  Implemented a secure configuration management using Azure
                  KeyVault
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-3 card-border">
            <div class="card ">
              <div class="card-body">
                <h6>
                  Developed a obseverability library for logging and monitoring
                  microservices
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-3 card-border">
            <div class="card">
              <div class="card-body">
                <h6>Optimized CI/CD pipeline for faster deployments</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3 card-border">
            <div class="card">
              <div class="card-body">
                <h6>Developed a SCM tool to migrate repos from one org to another</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- <h4>Cognizant Technology Solution Pvt Ltd</h4>
            <ul class="timeline">
              <li>
                <p class="timeline-title">
                  Joined as Programmer Analyst Trainee - Dec, 2021
                </p>
                <div class="timeline-content">
                  Immersed into a six-month full-stack development training
                  provides a platform for continuous learning and growth.
                  Collaborated effectively with a team to develop a case-study
                  Demonstrated with Lead, highlighting the practical
                  implementation and functionality of the project.
                </div>
              </li>
              <li>
                <p class="timeline-title">
                  Sept 2022 - Deployed to World Bank Group Project
                </p>
                <div class="timeline-content">
                  <ul>
                    <li>Worked as Frontend Developer - Angular</li>
                    <li>
                      Developed unit test cases in Angular using jasmine to
                      improve the code coverage by above 85% and maintain high
                      code quality.
                    </li>
                    <li>
                      Worked on Routing, Service, Observable to develop UI
                      screens and connecting with backend API.
                    </li>
                    <li>
                      Practiced agile principles in development, contributing
                      to daily stand-ups, sprint planning and retrospectives.
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <p class="timeline-title">
                  Promoted as Programmer Analyst - Dec, 2022
                </p>
              </li>
              <li>
                <p class="timeline-title">
                  Mapped to another project: CVSHealth - Mar 2024
                </p>
                <div class="timeline-content">
                  <ul>
                    <li>
                      Backend Developer (.Net Core): Developed and maintained
                      4+ backend microservices using .NET Core and C#,
                      adhering to SDLC and clean code practices.
                    </li>
                    <li>
                      Created a reusable NuGet package using C# for NET
                      application to connect with Azure App Configuration and
                      Key Vault and integrated with 12 applications,
                    </li>
                    <li>
                      Facilitated secure management of over 500+ configuration
                      keys and secrets
                    </li>
                    <li>Reduced configuration duplication by 60%</li>
                    <li>
                      100% reduction in configuration-related security
                      findings post-implementation as per CheckMarx reports
                    </li>
                    <li>
                      Migrated 70+ applications from SVN to git and created a
                      pipeline setup in Jenkins for automated build and
                      deployment and improving CI/CD efficiency by 70%.
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <p class="timeline-title">
                  Promoted as Associate - Jul, 2025
                </p>
              </li>
            </ul> -->
      </div>
    </div>
  </div>
  <app-floating-nav-buttons [prevRoute]="'/skills'" [nextRoute]="'/contact'"></app-floating-nav-buttons>
</section>
